html
{
    height: 100%;
    width:  100%;
    overflow-x: hidden;
}

body
{
    /*background-color: grey;*/

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    /*font: -apple-system-body;*/

    display: flex;
    flex-direction: column;

    margin:  0;
    padding: 0;
    overflow-x:    hidden;
    text-overflow: ellipsis;
    height: 100%;

    /* Magic! - Padding is deducted from box height/width not added!! */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing:    border-box; /* Firefox, other Gecko */
    box-sizing:         border-box; /* Opera/IE 8+ */

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*===========================================================================*/
/* Page Heading                                                              */
/*===========================================================================*/

/*
@font-face
{
    font-family: "Gravur";
    src: url("fonts/GravuConRegRC_1.0.otf") format('opentype');
}
*/

img.logo
{
   margin-top: 70px;
   margin-bottom: 80px;

   height: 88px;
}

div.pageheading
{
    /*font-family:   "Gravur";*/
    margin-top:    20px;
    margin-bottom: 10px;
    color:         white;
    font-size:     24px;
    line-height:   30px;
}

div.pagesubheading
{
    /*font-family:   "Gravur";*/
    margin-top:    10px;
    margin-bottom: 50px;
    color:         white;
    font-size:     16px;
    line-height:   20px;
}

div.menuArea
{
    color: black;
    box-sizing: border-box;
    flex: 1;
    overflow: auto;
}

/*===========================================================================*/
/* Menu Tiles                                                                */
/*===========================================================================*/
div.menuitem
{
    -webkit-box-sizing: border-box;
    margin: 0 15px 11px;
    min-height: 82px;
    border-radius:  8px;
    /*overflow: hidden;*/
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div.menuitem div.menuitem {
    min-height: 47px;
}

table.menuitem
{
    position: relative;
	width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}

table.menuitem:active
{
    background-color: white;
}

td.menuitemicon
{
	padding: 0;
	margin:  0;
	border:  none;
	vertical-align: middle;
	text-align: center;
    width:  90px;
    height: 47px;
}

div.menuitemicon
{
    /*background-color: blue;*/
    height: 47px;
}

img.menuitemicon
{
	border:  none;
	padding: 0;
	margin:  0;
	width:  47px;
    height: 47px;
}

div.menuitemtitle
{
    font-size: 17px;
    line-height: 19px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
    border:  none;
    vertical-align: middle;
    text-align: left;
    color: #007A78;
}

td.menuitemcontents
{
    padding-right: 10px;
    margin:  0;
    border:  none;
    vertical-align: middle;
    text-align: left;
    height: 80px;
}

div.menuitemcomment
{
    color: #333;
	font-size: 14px;
    line-height: 18px;
    text-align: left;
}

td.rowseparator
{
	height: 20px;
}

td.colseparator
{
	width: 5px;
}

table.menuitem:after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5);
    border-radius: 8px;
    z-index: -1;
}

/*===========================================================================*/
/* Login Message */
/*===========================================================================*/

.loginInfo {
    color: #fff;
    background: rgba(0, 0, 0, .8);
    padding: 15px 15px 15px 50px;
    flex-shrink: 0;
}

.loginInfo img {
    float: left;
    margin: 5px 0 0 -35px;
}


/*===========================================================================*/
/* RR Info */
/*===========================================================================*/

.rrInfo {
    color: #1964C8;
    background: #e4f3ff;
    padding: 15px 15px 15px 55px;
    transition: all .3s linear;
    margin: 15px;
    border-radius: 3px;
}
.rrInfo img {
    float: left;
    margin: 0 0 0 -35px;
}
.rrInfo__title {
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 5px;
}
.rrInfo__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}


