<!doctype html>
<html lang="en">
    <head>
        <title>Automator</title>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <LINK rel='stylesheet' type='text/css' href='automator.css' />

    </head>

    <BODY ng-app="aApp" ng-controller="aController">

        <script type='text/javascript' src='js/angular.min.js'></script>
        <script type='text/javascript' src="js/angular-sanitize.min.js"></script>
        
        <script type='text/javascript' src='mmrsutils.js'></script>
        <script type='text/javascript' src='deviceweb.js'></script>

        <script type='text/javascript' src='jsoncompare.js'></script>

        <script type='text/javascript' src='cmdplayer.js'></script>
        <script type='text/javascript' src='cmdflows.js'></script>

        <script type='text/javascript' src='automator.js'></script>


        <DIV class='menuArea'>
            <CENTER>
                <IMG class='logo' src='images/iconphone.png' />
            </CENTER>            
            
            <DIV ng-repeat="item in menuItems track by $index" ng-if="!item.hide" class="menuitem">
                <DIV>
                    <DIV class="menuitembackground"></DIV>
                    <TABLE class="menuitem" ng-click="onMenuItemClick(item)">
                        <TR>
                            <TD class="menuitemicon">
                                <DIV class="menuitemicon">
                                    <IMG class="menuitemicon" ng-src="{{item.icon}}"></IMG>
                                </DIV>
                            </TD>
                            <TD class="menuitemcontents">
                                <DIV class="menuitemtitle">
                                    {{item.title}}
                                </DIV>
                                <DIV class="menuitemcomment">
                                    {{item.comment}}
                                </DIV>
                                <DIV class="menuitemstatus">
                                    {{item.status}}
                                </DIV>
                            </TD>
                        </TR>
                    </TABLE>
                </DIV>
                <TABLE width="100%">
                    <TR ng-repeat="diff in item.diffs">
                        <TD ng-bind-html="diff.key"></TD>                        
                        <TD ng-bind-html="diff.left"></TD>
                        <TD ng-bind-html="diff.right"></TD>
                    </TR>
                </TABLE>
            </DIV>

        </DIV>
   


    </BODY>
</html>
